@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
  background: rgb(214,164,51);
  background: linear-gradient(90deg, rgba(214,164,51,1) 0%, rgba(255,200,73,1) 18%, rgba(194,255,73,1) 64%);
  font-family: 'Audiowide', cursive;
  text-align: center;
  font-size: larger;
}


.button {
  background: rgb(232, 255, 23);
  margin: 1rem;
  border-radius: 3px;
  padding: 8px;
  border: 1px solid black;
  box-shadow: 0 0 2px black;
  font-family: 'Audiowide', cursive;
  font-size: larger;

}

